<nav class="navbar navbar-white">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
            </button>
            <a class="navbar-brand" href="">LineXTI</a>
            <div class="nav-icon">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x" style="color:#FFF;"></i>
                  <i class="fa fa-bars fa-stack-1x fa-inverse" style="color:#CCC"></i>
                </span>
            </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#/">Home</a></li>  
                <li class="active"><a href="#/posts">Posts</a></li>            
                <li class="active"><a href="#/portfolio">Portfólio</a></li>            
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class=""><a href="#/login">Login</a></li>   
            </ul>
        </div>                    
    </div>
    <div class="nav-sub">   
        <ul class="">
            <li class="">Belo Horizonte - MG</li>   
        </ul>
    </div>
</nav>